<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts pagination__newer prev" href="{{page_url prev}}#blog">« Previous</a>
    {{/if}}
    {{#if next}}
        <a class="older-posts pagination__older next" href="{{page_url next}}#blog">Next »</a>
    {{/if}}
</nav>
