{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}

<header class="main-header">
  <h1>
    404
  </h1>
</header>

{{! The main content area on the homepage }}
<main class="content error" role="main">
    <article class="post">
        <p>
          人 生 若 只 如 初 见
        </p>
        <p>
          何 事 秋 风 悲 画 扇
        </p>
        <p>
          等 闲 变 却 故 人 心
        </p>
        <p>
          却 道 故 人 心 易 变
        </p>
        <p>
          骊 山 语 罢 清 宵 半
        </p>
        <p>
          泪 雨 霖 铃 终 不 怨
        </p>
        <p>
          何 如 薄幸 锦 衣 郎
        </p>
        <p>
          比 翼 连 枝 当 日 愿
        </p>
        <br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- 纳兰性德</p>
    </article>
</main>
